<br><br>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <svg xmlns="http://www.w3.org/2000/svg" width="428" height="358" viewBox="0 0 428 358">
                <g id="Yes" transform="translate(79)">
                <g id="Ellipse_110" data-name="Ellipse 110" fill="rgba(187,147,36,0.58)" stroke="#95989a" stroke-width="1">
                    <circle cx="129.5" cy="129.5" r="129.5" stroke="none"/>
                    <circle cx="129.5" cy="129.5" r="129" fill="none"/>
                </g>
                <path id="Checkbox" d="M38.473,94.753,0,40.27,7.806,29.215,38.473,71.854,89.213,0,97.02,11.055Z" transform="translate(80.764 81.708)" fill="rgba(252,249,242,0.98)" stroke="#95989a" stroke-width="1"/>
                </g>
                <text id="Commande_Confirmée" data-name="Commande Confirmée" transform="translate(214 350)" fill="rgba(10,8,3,0.61)" font-size="40" font-family="Arial-BoldMT, Arial" font-weight="700"><tspan x="-213.369" y="0">Commande Confirmée</tspan></text>
            </svg>
        </div>
    </div>
</div>
<br><br>