#nos-produit
{
    margin-bottom: 2.5rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 100;
    line-height: 5;
    font-size: 30px;
    color: #054d4a;
    
}
#product
{
    color: #008085;
}



img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

hr {
  border: 0;
  height: 3px;
  width: 30px;
  background-color: $accent;
  margin: 22px 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0 0 1.5em 0;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.btn {
  display: inline-block;
  color: #38ADA9;
  text-align: center;
  padding: 1.75em 3.5em;
  white-space: nowrap;
  border-radius: 5px;
  @extend %caps;
}

.produit {
  position: relative;
  width: 400px;
  padding: 40px;
  border-radius: 8px;
  background-color: $white;
  transition: box-shadow $time $easing;
  @include shadow;
}

.product__image {
  width: 75%;
  margin-left: -10%;
  margin-right: -10%;
  margin-top: -5px;
  margin-bottom: 30px;
  max-width: none;
}

.product__title {
  font-size: 30px;
  color: rgb(54, 117, 168);
  margin: 0 0 0.5em 0;
  line-height: 1.1;
}

.product__price {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -30px;
  left: -30px;
  width: 100px;
  height: 100px;
  background-color: rgba($black, 0.95);
  color:rgb(55,117,169) ;
  border-radius: 50%;
  @extend %caps;
}

.product__category {
  display: block;
  color: $accent;
  margin-bottom : 1 em ;
  @extend %caps;
}

.product__btn {
  position: absolute;
  bottom: -30px;
  right: 30px;
  background-color:rgb(255, 255, 255);
  font-size: medium;

  
  
}