<div class="container">
    <div  id="nos-produit">
        <a routerLink="/profil">Mon Profil</a>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <img src="../../assets/img/user.jpg" width="70%">
        </div>
        <div class="col-lg-7">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="nomutilisateur">Nom Utilisateur</label>
                            <input type="text" class="form-control" id="nomutilisateur">
                        </div>
                        <div class="form-group">
                            <label for="ntelephone">N° Telephone</label>
                            <input type="number" class="form-control" id="ntelephone">
                        </div>
                        <div class="form-group">
                            <label for="email">email</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                          <label for="spassword">Mot De Passe</label>
                          <input type="password" class="form-control" id="spassword">
                        </div>
                        <a><button type="button" id="enregistrer" class="btn btn-primary">Enregistrer</button></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>