<div class="row" id="mnv">
    <div class="col-sm-6 col-md-4 col-lg-2">  
        <a routerLink="/ordinateur" id="product"><img src="../../assets/televiseur/logoo/ordinateur.png" width="100%"><br>ordinateur</a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
        <a routerLink="/telephone" id="product"><img src="../../assets/televiseur/logoo/telephone.png" width="100%"><br>telephone portable</a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
        <a routerLink="/accessoire" id="product"><img src="../../assets/televiseur/logoo/accessoire.png" width="100%"><br>accesssoire</a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
        <a routerLink="/televiseur" id="product"><img src="../../assets/televiseur/logoo/televiseur.png" width="100%"><br>televiseur</a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
        <a routerLink="/imprimante" id="product"><img src="../../assets/televiseur/logoo/imprimante.png" width="100%"><br>imprimantes</a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2">
        <a routerLink="/produits" id="product"><img src="../../assets/televiseur/logoo/tous.png" width="100%"><br>Tous</a>
    </div>
</div>
<br><br>