<html>
    <head>
        <link rel="stylesheet" href="/home/ramigargouri/Desktop/test/node_modules/bootstrap/dist/css/bootstrap.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row" id="nv">
                <div class="col-3" id="icon">
                    <a routerLink="/acceuil"><img src="../../assets/img/Logo.png" width="60%"></a>
                </div>
                <div class="col-3">
                    <a routerLink="/acceuil" id="accueil">Accueil</a>
                </div>
                <div class="col-3">
                    <a routerLink="/produits" id="produits">Produits</a>
                </div>
                <div class="col-3" id="compte">
                    <a routerLink="/seconnecter"><img src="../../assets/img/Mon Compte.png" width="60%"></a>
                </div>
            </div>
        </div>
    </body>
</html>
