#nv
{
    font-family:'Poppins';
    font-size: 22px;
    color: #38ADA9;
    text-align: center;
}

#accueil
{
    color: #38ADA9;
}

#produits
{
    color: #38ADA9;
}

#icon
{
    margin-left: auto;
    margin-right: auto;   
}